@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  
  font-family: "Poiret One", serif;
  font-weight: 500;
  font-style: normal;
  
}

.nav-background{
  background-image: url('./public/YellowBackground.jpeg');
  object-fit: cover;
  background-repeat: no-repeat;
}


/* button styles from uiverse.io */

/* From Uiverse.io by cssbuttons-io */ 
button {
  --color: #0b54ad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #3a0ca3;
  transition:  0s;
}
